.rounded {
    border-radius: 100%;
    height: 70px;
    width: 70px;
}

.profileLetter {
    background-color: lightgoldenrodyellow;
    text-align: center;
    margin: 0;
}

.profileContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-left: 5%;
}

.centerСropped {
    overflow: hidden;
    object-fit: cover;
}