.rounded {
    border-radius: 100%;
    height: 48px;
    width: 48px;
}

@media screen and (max-width: 480px) {
    .rounded {
        height: 24px;
        width: 24px;
    }
}


.profileLetter {
    background-color: lightgoldenrodyellow;
    text-align: center;
    margin: 0;
}

.profileContainer {
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 5%;
}

.username {
    padding: 0 8px;
}

.centerСropped {
    overflow: hidden;
    object-fit: cover;
}