.responseContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.trackContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    height: 10em;
    margin-top: 2%;
    flex-wrap: nowrap;

    background-color: lightgreen;
    border: 1px solid lightgray;
    border-radius: 10px;
}

.albumCover {
    margin: 0.5em;
    height: 90%;
    width: auto;
}

.errorIndicator {
    background-color: lightcoral;
}

.trackPosition {
    margin: 0.5em;
    max-width: 5%;
    min-width: 5%;
    width: 5%;
}

.trackDataContainer {
    margin-right: 1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 30%;
}