.responseContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.trackContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    height: 10em;
    margin-top: 2%;
    flex-wrap: nowrap;
    width: 100%;

    background: rgba(255, 255, 255, 0.025);
    border-radius: 5px;
    border: none;
    border: solid 2px rgba(255, 255, 255, 0.125);
}

.albumCover {
    margin: 0.5em;
    height: 90%;
    width: auto;
}

.errorIndicator {
    background-color: lightcoral;
}

.trackPosition {
    margin: 0.5em;
    width: 40px;
    font-size: 32px;
}

.trackDataContainer {
    margin-right: 1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 30%;
}